<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.tcd.pubcrawl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- com.example -->
        <activity
            android:name="ie.tcd.pubcrawl.TabView"
            android:label="new tabV activity" >
            <intent-filter>
                <action android:name="com.example.tabview.TABVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.FirstActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.SecondActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.ThirdActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.Info"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.RowLayout"
            android:label="@string/title_activity_row_layout" >
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.CrawlsListPage"
            android:label="@string/title_activity_crawls_list_page" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.tabview.CRAWLLISTPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- com.example -->

        <activity
            android:name="ie.tcd.pubcrawl.CreateUserName"
            android:label="@string/create_user_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.GameMenu"
            android:label="@string/title_game_menu" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.GAMEMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.CardGames"
            android:label="@string/title_activity_card_games" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.CARDGAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.tcd.pubcrawl.GAMEMENU" />
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.DiceGames"
            android:label="@string/title_activity_dice_games" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.DICEGAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.tcd.pubcrawl.GAMEMENU" />
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.CoinGames"
            android:label="@string/title_activity_coin_games" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.COINGAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.tcd.pubcrawl.GAMEMENU" />
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.SpinnerGames"
            android:label="@string/title_activity_spinner_games" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.SPINNERGAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.tcd.pubcrawl.GAMEMENU" />
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.CurrentCrawls"
            android:label="@string/title_current_crawls" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.CURRENTCRAWLS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.tcd.pubcrawl.GAMEMENU" />
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.ChangeUserName"
            android:label="@string/change_user_name" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.CHANGEUSERNAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.SelectedCrawl"
            android:label="@string/selected_crawls" >
            <intent-filter>
                <action android:name="ie.tcd.pubcrawl.SELECTEDCRAWL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.tcd.pubcrawl.ViewFeed"
            android:label="@string/title_activity_view_feed" >

        </activity>
    </application>

</manifest>